.modal .jobTitle {
  margin: -1rem 0 2rem -1rem;
}
.modal .jobTitle ~ ul {
  list-style: none;
}
.hilited {
  @media (min-width: 910px) {
    max-width: 50rem;
    margin: auto;
  }
}
.hilited h2 {
  border-left: 0.25rem solid var(--brand-ripe);
  padding-left: 1.75rem;
}
.perks {
  color: var(--black);
  max-width: 46rem;
  columns: 2 20rem;
  margin-top: 1rem;
  column-gap: 1.5rem;
  @media (min-width: 900px) {
    padding-left: 1rem;
  }
}

.perks li {
  background-color: var(--off-white);
  border-radius: 0.75rem;
  padding: 10px;
  break-inside: avoid;
  margin: 0 1rem 1rem;
  font-weight: 600;

  @media (max-width: 375px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.emoji {
  margin-right: var(--micro);
}

.jobs {
  margin-top: 2rem;
}
.jobs li {
  margin: 1rem 0;
}
.jobs button {
  background-color: var(--off-white);
  border-radius: 1rem;
  padding: 1.75rem 2rem;
  display: block;
  width: 100%;
  text-align: left;
  border: 1px solid transparent;
  color: var(--black);
  font-weight: 600;

  @media (max-width: 500px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  @media (max-width: 375px) {
    padding: 0.5rem 1rem;
  }

  &:hover,
  &:focus {
    border: 1px solid #fff;
  }
}
.jobs button::after {
  content: url("/arrow.svg");
  float: right;
  height: 1.5rem;
  width: 1.5rem;
  transform: rotate(-90deg);

  @media (max-width: 500px) {
    flex: 0 0 1.5rem;
  }
}
