.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-header {
  display: flex;
}

.close {
  height: 1.5rem;
  width: 1.5rem;
}

.modal .content {
  background-color: var(--off-white);
  border-radius: 1rem;
  width: 71rem;
  max-height: 98vh;
  max-width: 98vw;
  margin: 10vh auto;
  overflow-y: scroll;
}
